/* mobile styles */
@media handheld {

}

/* iPhone-specific styles */
@media only screen and (max-device-width: 480px) {

	body
	{
		width:100%;
		padding:0;
	}

	#footer
	{
		display:none;
	}

	body * {
		position:static !important;
		float:none !important;
		font-size: 20px !important;
		line-height: 26px !important;
	}

	img {
		max-width:100%;
	}

	div.index,
	div.view,
	div.actions,
	div.navigation,
	div.hamper,
	div.product
	{
		position:static;
		float:none;
		width:100%;
		height:auto;
		margin:0;
		padding:5px 20px;
		float:none;
		border:none;
	}

	#navigation
	{
		margin:0;
		font-size:25px;
	}
	#navigation a
	{
		margin:1px 0;
		padding:10px;
		background: #f90;
	}

	.filters
	{
		display:none;
	}
}